{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} section starts {% endcomment %}
 <div class="card" >
    <div id="intro-example" class="p-5 bg-image">
    
      <div class="card-img-overlay" id="overt" >
         <div class="card-text" >
           <h1 class="font-weight-bold">Welcome to Deft Technologies</h1>
           <h2><br>A single integrated and secure platform for your business.</h1>
           <h2>At Deft we guarantee Security, flexibility and adaptability <br> from the largest software manufacturer; Microsoft solutions <br> a market-leading software 
             that adapts to your needs.</h2>
           <a class="btn btn-outline-info btn-lg" href="{% url 'products' %}" >EXPLORE</a>
         </div> 
       </div>
     </div>  
   </div>
{% comment %} section ends {% endcomment %}
<br>
{% comment %} logo start {% endcomment %}
<section class="logo-container">
  <div class="swiper logo-slider">
     <div class="swiper-wrapper">
        <div class="swiper-slide"> <img src=" {% static 'images/azure.png' %}" alt=""> </div>
        <div class="swiper-slide"> <img src="{% static 'images/gold.png' %}" alt=""> </div>
        <div class="swiper-slide"> <img src="{% static 'images/office365.png' %}" alt=""> </div>
        <div class="swiper-slide"> <img src="{% static 'images/oracle.png' %}" alt=""> </div>
        <div class="swiper-slide"> <img src="{% static 'images/powerBI.png' %}" alt=""> </div>
     </div>
  </div>
</section>
{% comment %} logo end {% endcomment %}

    <h3 class=' heading text-center'>Microsoft Cloud Solutions Gold Partner</h3>
    
    <div class="container-fluid justify-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><br>
            <h2 class='conmarket'>Digital transformation <br>with Microsoft</h2>
        </div>
        <div style="border-left: 3px solid maroon; height: 125px;"></div>
          <div class="col-md-5 marketi">
            <p>Security, flexibility and guarantee from the largest software manufacturer.</p>
            <p>Market-leading software that adapts to your needs.</p>
            <p>Quick to implement.</p>
          </div>
          <div class="col-md-1"></div>
    </div>
</div>
{% comment %} Start of pics {% endcomment %}
<section class="product">
  <div class="box-container">
        <div class="box">
          <div class="homemg image">
           <img src="{% static 'images/rectangle2.png' %}" alt="Boardemail">  
            <h2 >SOLUTIONS ERP</h2> <br>
            <h4 ><a href="{% url 'products' %}" class="btn">More</a>
            </h4>        
            </div>
         </div>
     
        <div class="box">
          <div class="homemg1 image">
              <img src="{% static 'images/rectangle.png' %}" alt="Person3">
                <h2>ClOUD SERVICES <br></h2>
               <h4 > <a href="{% url 'products' %}" class="btn">More</a>
               </h4>
           </div>
          </div>
  </div> 
</section>
{% comment %} section end {% endcomment %}
<div class="container-fluid ">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4" >
      <br><h2 style='float:right;'>A single integrated <br> and secure platform <br>
      for your company</h2>
    </div>
    <div style="border-left: 3px solid maroon; height: 130px; "></div>
    <div class="col-md-5">
      <br><h3> We guarantee success in the <br> digitization of processes with <br> the 
      Microsoft Cloud Platform</h3>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<br>
<div class="container-fluid img-fluid">
  <img class="procimg" src="/static/images/proc.jpg" alt="Process">      
</div>  
  <br><br>

 <div class="container" id='choosing'>
    <h1>Why choose Microsoft Dynamics Business Central?</h1><br>
      <p> Dynamics 365 Business Central is a comprehensive Enterprise Resource Planning Solution that was created with the large and SME <br> business   operations in mind. It includes a wide range of corporate functions as well as the added benefit of cloud computing.</p>
      <p>It is built with a variety of cloud services, including Power Aps, Sharepoint, Outlook, Office 365, Power BI and Flow.</p>
      <p>The solution is fast, scalable, secure, comes with an option of cloud hosting or on prem and be integrated with other solutions.</p>
   
</div>



{% endblock %}